@import 'base/reset';
@import 'base/typography';
@import 'abstracts/vars';
@import 'layout/mobile-nav';
@import 'layout/mobile-header';
@import 'layout/hero';
@import 'layout/collection';
@import 'layout/choose-us';

// * {
//   border: 1px solid red;
// }

main {
  width: 88%;
  margin: auto;
}
