@import 'base/reset';
@import 'base/typography';
@import 'abstracts/vars';
@import 'layout/mobile-nav';
@import 'layout/mobile-header';
@import 'layout/hero';
@import 'layout/collection';
@import 'layout/choose-us';
@import 'layout/how-to';
@import 'layout/footer';
@import 'layout/about/hero-about';
@import 'layout/about/commitment';
@import 'layout/about/quality';
@import 'layout/about/headquarters';
@import 'layout/plan/hero-plan';
@import 'layout/plan/plan-how-to';


#app {
  width: 88%;
  margin: auto;
}
